In [1]:
import warnings
warnings.filterwarnings('ignore')

# I. Google Drive Mount

In [2]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!ls -l '/content/drive/My Drive/Colab Notebooks/datasets/Online_Retail.zip'

-rw------- 1 root root 22824989 Mar 11 00:24 '/content/drive/My Drive/Colab Notebooks/datasets/Online_Retail.zip'

# II. Load Data

In [4]:
!unzip /content/drive/My\ Drive/Colab\ Notebooks/datasets/Online_Retail.zip

Archive:  /content/drive/My Drive/Colab Notebooks/datasets/Online_Retail.zip
  inflating: Online_Retail.xlsx

In [5]:
!ls -l

total 23168
drwx------ 5 root root     4096 Mar 11 00:39 drive
-rw-r--r-- 1 root root 23715344 Mar  7 16:08 Online_Retail.xlsx
drwxr-xr-x 1 root root     4096 Mar  5 14:37 sample_data

In [27]:
%%time
import pandas as pd

DF = pd.read_excel('Online_Retail.xlsx')
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
CPU times: user 36.4 s, sys: 146 ms, total: 36.6 s
Wall time: 36.6 s

In [34]:
DF.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [54]:
DF = DF[DF['Quantity'] > 0]
DF = DF[DF['UnitPrice'] > 0]
DF = DF[DF['CustomerID'].notnull()]
print(DF.shape)
DF.isnull().sum()

(397884, 9)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
sale_amount    0
dtype: int64

In [55]:
DF['sale_amount'] = DF['Quantity'] * DF['UnitPrice']
DF['CustomerID'] = DF['CustomerID'].astype(int)

In [56]:
print(DF['CustomerID'].value_counts().head(5))
print(DF.groupby('CustomerID')['sale_amount'].sum().sort_values(ascending=False)[:5])

17841    7847
14911    5675
14096    5111
12748    4595
14606    2700
Name: CustomerID, dtype: int64
CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
Name: sale_amount, dtype: float64

In [57]:
DF.groupby(['InvoiceNo', 'StockCode'])['InvoiceNo'].count().mean()

1.0258946320786095

# II. 탐색적데이터분석(EDA)

In [29]:
import matplotlib.pyplot as plt
import seaborn as sns

# III. K-means Modeling

> ## 1) Modeling

In [51]:
from sklearn.cluster import KMeans
import numpy as np

In [60]:
kmeans_3 = KMeans(n_clusters = 3,
                  init = 'k-means++',
                  max_iter = 15,
                  random_state = 2045)
kmeans_3.fit(DF)

ValueError: ignored